html, body {
    font-family: Arial, serif;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: whitesmoke;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    background-color: cornflowerblue;
    color: whitesmoke;
    padding: 2dvh 0 2dvh 0;
}

#navbar-title {
    display: inline-block;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    color: whitesmoke;
    margin-left: 1dvw;
}

#navbar-links-container {
    display: inline-block;
}

.navbar-link {
    text-decoration: none;
    color: whitesmoke;
    margin: 1vh;
}

#navbar-username {
    margin-right: 3dvw;
    color: black;
}

#db-conn-response {
    width: 100%;
    height: 60dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#db-tick {
    height: 5dvh;
    margin-right: 1dvw;
}

#jumo-to-main-page-btn {
    margin-left: 60%;
}

.btn-w-padding {
    display: block;
    text-decoration: none;
    width: fit-content;
    padding: 1.5dvh;
    background-color: cornflowerblue;
    color: whitesmoke;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    color: rgba(245, 245, 245, 0.5);
    width: 100%;
    height: 30dvh;
    position: relative;
    bottom: 0;
    margin-top: 50dvh;
}

.success-msg {
    margin-inline: auto;
    padding: 1dvw 2dvw 1dvw 2dvw;
    background-color: lightgreen;
    border-radius: 0.5dvw;
    top: 20dvh;
    width: fit-content;
}

.error-msg {
    margin-inline: auto;
    padding: 1dvw 2dvw 1dvw 2dvw;
    background-color: indianred;
    border-radius: 0.5dvw;
    top: 20dvh;
    width: fit-content;
    margin-bottom: 2dvh;
}

.content-wrapper {
    width: 85dvw;
    height: fit-content;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.my-photo {
    width: 15dvw;
    height: 15dvw;
    border-top-left-radius: 0.5dvh;
    border-top-right-radius: 0.5dvh;
}

.main-page-image-wrapper {
    width: 15dvw;
    background-color: white;
    border-radius: 0.5dvh;
    box-shadow: grey 0px 0px 0.5dvh;
    margin: 1dvw;
}