html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: whitesmoke;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    background-color: cornflowerblue;
    color: whitesmoke;
    padding: 2dvh 0 2dvh 0;
}

#navbar-title {
    display: inline-block;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    color: whitesmoke;
    margin-left: 1dvw;
}

#navbar-links-container {
    display: inline-block;
}

.navbar-link {
    text-decoration: none;
    color: whitesmoke;
    margin: 1vh;
}

#navbar-username {
    margin-right: 3dvw;
    color: black;
}

#db-conn-response {
    width: 100%;
    height: 60dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#db-tick {
    height: 5dvh;
    margin-right: 1dvw;
}

#landing-img {
    width: 100%;
}

#text-over-landing-img {
    position: absolute;
    top: 25dvh;
    left: 0dvw;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#text-over-landing-img p {
    font-size: xx-large;
}

#jumo-to-main-page-btn {
    padding-inline: 3dvw;
    font-size: large;
}

.btn-w-padding {
    display: block;
    text-decoration: none;
    width: fit-content;
    padding: 1.5dvh;
    background-color: cornflowerblue;
    color: whitesmoke;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    color: rgba(245, 245, 245, 0.5);
    width: 100%;
    height: 30dvh;
    position: relative;
    bottom: 0;
    margin-top: 50dvh;
}

.success-msg {
    margin-inline: auto;
    padding: 1dvw 2dvw 1dvw 2dvw;
    background-color: lightgreen;
    border-radius: 0.5dvw;
    top: 20dvh;
    width: fit-content;
}

.error-msg {
    margin-inline: auto;
    padding: 1dvw 2dvw 1dvw 2dvw;
    background-color: indianred;
    border-radius: 0.5dvw;
    top: 20dvh;
    width: fit-content;
    margin-bottom: 2dvh;
}

.content-wrapper {
    margin-top: 20dvh;
    width: 85dvw;
    height: fit-content;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.my-photo {
    width: 15dvw;
    height: 15dvw;
    border-top-left-radius: 0.5dvh;
    border-top-right-radius: 0.5dvh;
}

.main-page-image-wrapper {
    width: 15dvw;
    background-color: white;
    border-radius: 0.5dvh;
    box-shadow: grey 0px 0px 0.5dvh;
    margin: 1dvw;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.main-page-image-wrapper:hover {
    background-color: whitesmoke;
}

#image-site-wrapper {
    margin-inline: auto;
    width: 70dvw;
    height: fit-content;
    background-color: white;
    border-radius: 0.5dvh;
    box-shadow: grey 0px 0px 0.5dvh;
    margin-top: 5dvh;
    padding-bottom: 10dvh;
}

#image-site-img {
    max-width: 50dvw;
    min-width: 25dvw;
    width: 25dvw;
    margin: 4dvh;
    border-radius: 1dvh;
}

#img-details-wrapper {
    width: 70dvw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#details-container {
    width: 45dvw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

.img-details {
    color: grey
}

#image-site-comments-wrapper h2, #image-site-rating-wrapper h2 {
    font-weight: 100;
}

#image-site-comments-wrapper {
    margin: 10dvh 0dvw 0dvh 4dvw;
}

.comment-container {
    background-color: rgb(225, 232, 236);
    border-radius: 1dvh;
    width: 46dvw;
    border: 1px solid rgb(183, 183, 183);
    margin: 2dvh;
    padding-inline: 2dvh;
}

.comment-content, .comment-date {
    margin-left: 2dvw;
}

.comment-date, .comment-author {
    font-size: small;
    color: grey;
}

#add-comment-textarea {
    width: 40dvw;
    border-radius: 1dvh;
    display: inline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}